@model DateTime?

<div class="field">
    <div>Publish Date:</div>
    <div class="date-pair">
        <input name="date" class="input date" type="text" maxlength="255" value="@(Model.HasValue ? Model.Value.ToShortDateString() : "")" />
        <input name="time" class="input time" type="text" maxlength="255" value="@(Model.HasValue ? Model.Value.ToShortTimeString() : "")" />
    </div>
</div>
