html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/Light/OpenSans-Light.eot');
  src: url('/Content/Fonts/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Light/OpenSans-Light.woff') format('woff'), url('/Content/Fonts/Light/OpenSans-Light.ttf') format('truetype'), url('/Content/Fonts/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/LightItalic/OpenSans-LightItalic.eot');
  src: url('/Content/Fonts/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('/Content/Fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('/Content/Fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/Regular/OpenSans-Regular.eot');
  src: url('/Content/Fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Regular/OpenSans-Regular.woff') format('woff'), url('/Content/Fonts/Regular/OpenSans-Regular.ttf') format('truetype'), url('/Content/Fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/Italic/OpenSans-Italic.eot');
  src: url('/Content/Fonts/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Italic/OpenSans-Italic.woff') format('woff'), url('/Content/Fonts/Italic/OpenSans-Italic.ttf') format('truetype'), url('/Content/Fonts/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/Semibold/OpenSans-Semibold.eot');
  src: url('/Content/Fonts/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Semibold/OpenSans-Semibold.woff') format('woff'), url('/Content/Fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('/Content/Fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('/Content/Fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('/Content/Fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('/Content/Fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/Bold/OpenSans-Bold.eot');
  src: url('/Content/Fonts/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Bold/OpenSans-Bold.woff') format('woff'), url('/Content/Fonts/Bold/OpenSans-Bold.ttf') format('truetype'), url('/Content/Fonts/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('/Content/Fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('/Content/Fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('/Content/Fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('/Content/Fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('/Content/Fonts/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('/Content/Fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('/Content/Fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('/Content/Fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('/Content/Fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('/Content/Fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
body {
  background-color: #eeeeee;
  font-family: "Open Sans";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  font-family: "Open Sans";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #000;
  text-rendering: optimizeLegibility;
  padding-top: 0.273em;
  line-height: 1.15538em;
  padding-bottom: 0.273em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #d04526;
}
@media only screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-wrap: break-word;
  }
}
h1 {
  font-size: 68px;
  font-size: 4.25rem;
}
h1.xlarge {
  font-size: 110px;
  font-size: 6.875rem;
}
h1.xxlarge {
  font-size: 126px;
  font-size: 7.875rem;
}
h1.absurd {
  font-size: 177px;
  font-size: 11.0625rem;
}
h2 {
  font-size: 42px;
  font-size: 2.625rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 26px;
  font-size: 1.625rem;
}
h5 {
  font-size: 18px;
  font-size: 1.125rem;
}
h6 {
  font-size: 15px;
  font-size: 1rem;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
    font-size: 2.625rem;
  }
  h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.subhead {
  color: #777;
  font-weight: normal;
  margin-bottom: 20px;
}
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  font-size: 1rem;
  margin-bottom: 13px;
  line-height: 1.625em;
}
p.lead {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 18px;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 17.6px;
    font-size: 1.1rem;
    line-height: 1.625em;
  }
}
ul,
ol {
  margin-bottom: 0.273em;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
  margin-left: 30px;
}
a {
  font-family: "Open Sans";
  text-decoration: underline;
  color: #090909;
}
a:hover {
  color: #d04526;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#wrapper .content-container {
  width: 100%;
}
#wrapper .content-container .content {
  width: 80%;
  max-width: 1070px;
  min-width: 600px;
  margin: 0 auto;
  position: relative;
}
#wrapper .content-container .content #article-feed {
  width: 65%;
  display: inline-block;
  margin-left: 1%;
  vertical-align: top;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  #wrapper .content-container .content #article-feed {
    width: 99%;
    margin: 5px auto;
    left: 0%;
  }
}
#wrapper .content-container .content #article-feed .article {
  position: relative;
  background-color: #ffffff;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  -webkit-box-shadow: 0 8px 6px -6px #808080;
  -moz-box-shadow: 0 8px 6px -6px #808080;
  box-shadow: 0 8px 6px -6px #808080;
  margin-bottom: 15px;
}
#wrapper .content-container .content #article-feed .article hr {
  border: 1px solid #eeeeee;
}
#wrapper .content-container .content #article-feed .article .article-content {
  padding: 15px;
  position: relative;
}
#wrapper .content-container .content #article-feed .article .article-content p a img {
  display: block;
  margin: 0 auto;
  max-height: none;
}
#wrapper .content-container .content #article-feed .article .article-content a.link-overlay {
  position: absolute;
  display: block;
  top: 0;
  right: -10px;
  bottom: -7.5px;
  left: -10px;
  z-index: 2;
  margin: 0;
}
#wrapper .content-container .content #article-feed .article .article-content h2.title {
  font-size: 26px;
  font-size: 1.625rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  padding-top: 0.273em;
  line-height: 1.15538em;
  padding-bottom: 0.273em;
}
#wrapper .content-container .content #article-feed .article .article-content span.details {
  color: #808080;
  margin: 7.5px 0 15px 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  #wrapper .content-container .content #article-feed .article .article-content span.details {
    margin: 7.5px 0;
  }
}
#wrapper .content-container .content #article-feed .article .article-content .callout {
  border-left: 5px solid #d5d5d5;
  padding: 30px 15px;
}
#wrapper .content-container .content #article-feed .article .article-content .callout.picture {
  text-align: right;
}
#wrapper .content-container .content #article-feed .article .article-content .callout.picture img {
  max-height: 250px;
  max-width: 99%;
}
@media (max-width: 767px) {
  #wrapper .content-container .content #article-feed .article .article-content .callout.picture {
    text-align: center;
  }
}
#wrapper .content-container .content #article-feed .article .article-footer {
  width: 96%;
  min-height: 35px;
  position: relative;
}
#wrapper .content-container .content #article-feed .article .article-footer .comment-container {
  display: inline-block;
  bottom: 7.5px;
  left: 15px;
  position: relative;
  width: 69%;
}
#wrapper .content-container .content #article-feed .article .article-footer .comment-container .comments {
  position: relative;
}
#wrapper .content-container .content #article-feed .article .article-footer .comment-container .comments img {
  width: 20px;
  position: relative;
  top: 3px;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar {
  width: 30%;
  min-width: 150px;
  position: relative;
  display: inline-block;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar li {
  margin: 0px;
  margin-left: 5px;
  float: right;
  width: 30px;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar li a img.facebook {
  background-color: #0088cc;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar li a img.email {
  background-color: #d04526;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar li a img.googleplus {
  background-color: #c1103b;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar li a img.twitter {
  background-color: #2db8c2;
}
#wrapper .content-container .content #article-feed .article .article-footer .sm-link-bar li:last-child {
  margin-left: 0px;
}
#wrapper .content-container .content #article-feed .article.codesod,
#wrapper .content-container .content #article-feed .article.code {
  border-left: 10px solid #c1103b;
}
#wrapper .content-container .content #article-feed .article.codesod:hover,
#wrapper .content-container .content #article-feed .article.code:hover {
  border-right: 10px solid #c1103b;
}
#wrapper .content-container .content #article-feed .article.codesod:hover h2,
#wrapper .content-container .content #article-feed .article.code:hover h2 {
  color: #c1103b;
}
#wrapper .content-container .content #article-feed .article.errord {
  border-left: 10px solid #e4a838;
}
#wrapper .content-container .content #article-feed .article.errord:hover {
  border-right: 10px solid #e4a838;
}
#wrapper .content-container .content #article-feed .article.errord:hover h2 {
  color: #e4a838;
}
#wrapper .content-container .content #article-feed .article.featured {
  border-left: 10px solid #2db8c2;
}
#wrapper .content-container .content #article-feed .article.featured:hover {
  border-right: 10px solid #2db8c2;
}
#wrapper .content-container .content #article-feed .article.featured:hover h2 {
  color: #2db8c2;
}
#wrapper .content-container .content #article-feed .article.other,
#wrapper .content-container .content #article-feed .article.soapbox {
  border-left: 10px solid #95397a;
}
#wrapper .content-container .content #article-feed .article.other:hover,
#wrapper .content-container .content #article-feed .article.soapbox:hover {
  border-right: 10px solid #95397a;
}
#wrapper .content-container .content #article-feed .article.other:hover h2,
#wrapper .content-container .content #article-feed .article.soapbox:hover h2 {
  color: #95397a;
}
#wrapper .content-container .content #article-feed .article.soapbox {
  border-left: 10px solid #95397a;
}
#wrapper .content-container .content #article-feed .article.soapbox:hover {
  border-right: 10px solid #95397a;
}
#wrapper .content-container .content #article-feed .article.soapbox:hover h2 {
  color: #95397a;
}
#wrapper .content-container .content #article-feed .article.tales {
  border-left: 10px solid #f9622f;
}
#wrapper .content-container .content #article-feed .article.tales:hover {
  border-right: 10px solid #f9622f;
}
#wrapper .content-container .content #article-feed .article.tales:hover h2 {
  color: #f9622f;
}
@media (max-width: 767px) {
  #wrapper .content-container .content {
    width: 95%;
    min-width: 295px;
  }
}
#wrapper .content-container:nth-last-child(2) {
  padding-bottom: 190px;
}
@media (max-width: 430px) {
  #wrapper .content-container:nth-last-child(2) {
    padding-bottom: 250px;
  }
}
#wrapper .content-container#navigation {
  -webkit-box-shadow: 0 8px 6px -6px #808080;
  -moz-box-shadow: 0 8px 6px -6px #808080;
  box-shadow: 0 8px 6px -6px #808080;
  margin-bottom: 15px;
  position: fixed;
  top: -5px;
  opacity: .95;
  background-color: #ffffff;
  z-index: 3;
  margin-top: 5px;
}
@media (max-width: 767px) {
  #wrapper .content-container#navigation {
    position: absolute;
  }
}
#wrapper .content-container#navigation .content a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: bold;
}
#wrapper .content-container#navigation .content .logo {
  float: left;
  padding: 5px 0;
  margin-right: 2%;
}
#wrapper .content-container#navigation .content .logo img {
  height: 45px;
}
#wrapper .content-container#navigation .content #navigation-items {
  min-width: 635px;
  display: inline-block;
  height: 57px;
}
@media (max-width: 767px) {
  #wrapper .content-container#navigation .content #navigation-items {
    display: none;
  }
}
#wrapper .content-container#navigation .content #navigation-items li {
  position: relative;
  float: left;
  display: table;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 800;
  padding-bottom: 8px;
}
#wrapper .content-container#navigation .content #navigation-items li a {
  padding: 20px 15px 18px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
#wrapper .content-container#navigation .content #navigation-items li .dropdown {
  display: none;
  position: absolute;
  min-width: 240px;
  top: 59px;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  padding: 10px;
  background-color: inherit;
}
#wrapper .content-container#navigation .content #navigation-items li .dropdown li {
  display: block;
  float: none;
  font-weight: normal;
  text-transform: capitalize;
  text-align: left;
  padding: 0;
  margin: 5px 0;
}
#wrapper .content-container#navigation .content #navigation-items li .dropdown li a {
  font-weight: 400;
  text-transform: capitalize;
  width: 100%;
  display: inline-block;
  margin: 0;
  line-height: 100%;
  padding: 5px;
}
#wrapper .content-container#navigation .content #navigation-items li .dropdown li.navigation-heading {
  font-family: 'Open Sans';
  text-align: left;
  font-size: 26px;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 1.75rem;
}
#wrapper .content-container#navigation .content #navigation-items li .dropdown li.dropdown-item:hover {
  background-color: #ffffff;
}
#wrapper .content-container#navigation .content #navigation-items li .dropdown li.dropdown-item:hover a {
  color: #090909;
}
#wrapper .content-container#navigation .content #navigation-items li li:hover a {
  color: #ffffff;
}
#wrapper .content-container#navigation .content #navigation-items li.featured {
  border-top: 5px solid #2db8c2;
}
#wrapper .content-container#navigation .content #navigation-items li.featured:hover {
  background-color: #2db8c2;
}
#wrapper .content-container#navigation .content #navigation-items li.featured:hover .dropdown {
  display: block;
  left: 0px;
}
#wrapper .content-container#navigation .content #navigation-items li.code {
  border-top: 5px solid #c1103b;
}
#wrapper .content-container#navigation .content #navigation-items li.code:hover {
  background-color: #c1103b;
}
#wrapper .content-container#navigation .content #navigation-items li.code:hover .dropdown {
  display: block;
  left: 0px;
}
#wrapper .content-container#navigation .content #navigation-items li.errord {
  border-top: 5px solid #e4a838;
}
#wrapper .content-container#navigation .content #navigation-items li.errord:hover {
  background-color: #e4a838;
}
#wrapper .content-container#navigation .content #navigation-items li.errord:hover .dropdown {
  display: block;
  left: 0px;
}
#wrapper .content-container#navigation .content #navigation-items li.forum {
  border-top: 5px solid #d04526;
}
#wrapper .content-container#navigation .content #navigation-items li.forum a img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  float: left;
}
#wrapper .content-container#navigation .content #navigation-items li.forum a img.hover-icon {
  display: none;
}
#wrapper .content-container#navigation .content #navigation-items li.forum:hover {
  background-color: #d04526;
}
#wrapper .content-container#navigation .content #navigation-items li.forum:hover img {
  margin-right: 5px;
  width: 15px;
  float: left;
}
#wrapper .content-container#navigation .content #navigation-items li.forum:hover img.hover-icon {
  display: inline;
}
#wrapper .content-container#navigation .content #navigation-items li.forum:hover img.standard-icon {
  display: none;
}
#wrapper .content-container#navigation .content #navigation-items li.soapbox {
  border-top: 5px solid #95397a;
}
#wrapper .content-container#navigation .content #navigation-items li.soapbox:hover {
  background-color: #95397a;
}
#wrapper .content-container#navigation .content #navigation-items li.soapbox:hover .dropdown {
  display: block;
  right: 0px;
}
#wrapper .content-container#navigation .content li:hover a {
  color: #ffffff;
}
#wrapper .content-container#navigation .content li:hover .dropdown {
  display: block;
}
#wrapper .content-container#navigation .content #mini-navigation {
  display: none;
}
#wrapper .content-container#navigation .content #mini-navigation input[type="checkbox"] {
  display: none;
}
#wrapper .content-container#navigation .content #mini-navigation label {
  display: block;
  padding: 5px;
  background: #4a4d50;
  border-radius: 5px;
  top: 2px;
  right: 4%;
  text-align: center;
  width: 46px;
  height: 40px;
  position: absolute;
}
#wrapper .content-container#navigation .content #mini-navigation label img {
  width: 30px;
  top: 5px;
  position: relative;
}
#wrapper .content-container#navigation .content #mini-navigation article {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: absolute;
  left: 0;
  top: 69px;
  z-index: 5;
  transition: height 0.3s ease-in-out;
  background-color: #2c2c2c;
  width: 100%;
  text-align: center;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li {
  font-size: 15px;
  margin: 0px;
  text-transform: uppercase;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li a {
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  padding: 22.5px 0;
  display: inline-block;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.featured {
  border-top: 5px solid #2db8c2;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.featured:hover {
  background-color: #2db8c2;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.code {
  border-top: 5px solid #c1103b;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.code:hover {
  background-color: #c1103b;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.errord {
  border-top: 5px solid #e4a838;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.errord:hover {
  background-color: #e4a838;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.forum {
  border-top: 5px solid #d04526;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.forum:hover {
  background-color: #d04526;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.soapbox {
  border-top: 5px solid #95397a;
}
#wrapper .content-container#navigation .content #mini-navigation article ul li.soapbox:hover {
  background-color: #95397a;
}
#wrapper .content-container#navigation .content #mini-navigation input:checked ~ article {
  transition: height 0.5s ease-in-out;
  height: 325px;
}
@media (max-width: 767px) {
  #wrapper .content-container#navigation .content #mini-navigation {
    display: block;
  }
}
#wrapper .content-container#navigation-bumper {
  height: 65px;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1090px) {
  #wrapper .content-container#navigation-bumper {
    height: 120px;
  }
}
#wrapper .content-container#footer {
  min-height: 90px;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
}
#wrapper .content-container#footer .content hr {
  border-bottom: 1px solid #808080;
  display: block;
  text-align: center;
}
#wrapper .content-container#footer .content .link-bar {
  width: 400px;
  margin: 0 auto;
  height: 25px;
}
#wrapper .content-container#footer .content .link-bar a {
  display: inline-block;
  margin: 0 25px;
  float: left;
}
#wrapper .content-container#footer .content .copyright {
  display: inline-block;
  float: left;
}
#wrapper .content-container#footer .content .hosting {
  display: inline-block;
  float: right;
}
@media (max-width: 1175px) {
  #wrapper .content-container#footer .content .copyright {
    display: block;
    width: 100%;
  }
  #wrapper .content-container#footer .content .hosting {
    display: block;
    float: none;
  }
}
#wrapper .content#top-banner {
  text-align: center;
}
#wrapper .content#top-banner img {
  width: 98%;
  padding: 1%;
  background-color: #e6eae9;
  margin-top: 7.5px;
}
@media (max-width: 767px) {
  #wrapper .content#top-banner {
    display: none;
    padding: 0;
  }
}
#wrapper .content#home-page {
  padding-top: 15px;
}
@media (max-width: 767px) {
  #wrapper .content#home-page {
    width: 99%;
    margin: 0px auto;
  }
}
#wrapper .content#home-page #sidebar {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  background-color: #eeeeee;
  padding-bottom: 7.5px;
}
@media (max-width: 767px) {
  #wrapper .content#home-page #sidebar {
    width: 99%;
    margin: 0 auto;
  }
}
#wrapper .content#home-page #sidebar .sidebar-section {
  background-color: #ffffff;
}
#wrapper .content#home-page #sidebar .sidebar-section input[type="checkbox"] {
  display: none;
}
#wrapper .content#home-page #sidebar .sidebar-section article {
  margin-top: -1px;
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
  transition: height 0.3s ease-in-out;
}
#wrapper .content#home-page #sidebar .sidebar-section article p {
  font-size: 12px;
  padding: 10px;
}
#wrapper .content#home-page #sidebar .sidebar-section article img {
  max-width: 100%;
}
@media (max-width: 767px) {
  #wrapper .content#home-page #sidebar .sidebar-section article {
    height: 1px;
  }
}
#wrapper .content#home-page #sidebar .sidebar-section input:checked ~ article {
  transition: height 0.5s ease-in-out;
  height: 100%;
}
#wrapper .content#home-page #sidebar .sidebar-section label {
  background-color: #2c2c2c;
  color: #ffffff;
  margin: 0px;
  width: 100%;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
  position: relative;
  z-index: 2;
}
#wrapper .content#home-page #sidebar .sidebar-section label span {
  display: inline-block;
  font-size: 15px;
  font-size: 1.125rem;
  font-family: 'Open Sans';
  font-weight: 300;
}
#wrapper .content#home-page #sidebar .sidebar-section label img {
  margin-right: 15px;
  width: 8%;
  min-width: 15px;
  max-width: 20px;
  position: relative;
  display: inline-block;
  top: 3px;
  left: 10px;
}
@media (max-width: 767px) {
  #wrapper .content#home-page #sidebar .sidebar-section label img {
    width: 4%;
  }
}
#wrapper .content#home-page #sidebar .sidebar-section p {
  padding: 0 15px;
}
#wrapper .content#home-page #sidebar .sidebar-section li {
  padding: 5px 15px;
}
#wrapper .content#home-page #sidebar .sidebar-section hr {
  border: 1px solid #eeeeee;
}
#wrapper .content#home-page #sidebar .sidebar-section img.sidebar-ad {
  width: 96%;
  padding: 2%;
  background-color: #e6eae9;
}
#wrapper .content#home-page #sidebar .sidebar-section.ad {
  margin: 15px 0;
  text-align: center;
  background-color: #e6eae9;
}
@media (max-width: 767px) {
  #wrapper .content#home-page #sidebar .sidebar-section.ad {
    display: none;
  }
}
#wrapper .content#home-page #sidebar .sidebar-section#about-container p {
  margin-bottom: 0;
}
#wrapper .content#home-page #sidebar .sidebar-section#about-container p:last-child {
  margin-bottom: 15px;
}
#wrapper .content#home-page #sidebar .sidebar-section#about-container #submit-link {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  margin: 10px 0;
}
#wrapper .content#home-page #sidebar .sidebar-section#contents-container p {
  font-size: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
#wrapper .content#home-page #sidebar .sidebar-section#contents-container p a {
  font-weight: 600;
}
#wrapper .content#home-page #sidebar .sidebar-section#contents-container ul {
  margin: 4px 0 5px 20%;
}
#wrapper .content#home-page #sidebar .sidebar-section#contents-container ul li {
  list-style-type: circle;
  padding-left: 0px;
  margin: 5px 0;
}
#wrapper .content#home-page #sidebar .sidebar-section#sponsor-sidebar-container p.sponsor {
  text-align: center;
  border-top: 1px solid #eeeeee;
}
#wrapper .content#home-page #sidebar .sidebar-section#sponsor-sidebar-container p.sponsor img {
  width: 75%;
  padding: 0;
  position: relative;
}
#wrapper .content#home-page #sidebar .sidebar-section#wtf-sidebar-container ul li {
  border-left: 10px solid #c1103b;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
}
#wrapper .content#home-page #sidebar .sidebar-section#wtf-sidebar-container ul li:hover {
  background-color: #c1103b;
  color: #ffffff;
}
#wrapper .content#home-page #sidebar .sidebar-section#wtf-sidebar-container ul li:hover a {
  color: #ffffff;
}
#wrapper .content#home-page #sidebar .sidebar-section#chat-sidebar-container p {
  margin-bottom: 0;
}
#wrapper .content#home-page #sidebar .sidebar-section#chat-sidebar-container p:last-child {
  margin-bottom: 15px;
}
#wrapper .content#article-page {
  background-color: #ffffff;
}
#wrapper .content#article-page .article-container {
  position: relative;
}
#wrapper .content#article-page .article-container .author-box {
  position: relative;
  float: right;
  max-width: 180px;
  min-width: 100px;
  width: 18%;
  padding: 4px;
  background-color: #d5d5d5;
  margin-left: 15px;
  margin-bottom: 7.5px;
  text-align: center;
}
@media (max-width: 767px) {
  #wrapper .content#article-page .article-container .author-box {
    display: none;
  }
}
#wrapper .content#article-page .article-container .author-box img {
  margin: 15px 0;
  width: 100%;
  -webkit-clip-path: ellipse(48% 49% at 50% 50%);
  clip-path: ellipse(48% 49% at 50% 50%);
  border-radius: 50%;
}
#wrapper .content#article-page .article-container .author-box a.author-name {
  text-decoration: none;
}
#wrapper .content#article-page .article-container .author-box .credentials {
  font-size: 80%;
  color: #808080;
  font-style: italic;
}
#wrapper .content#article-page .article-container h2.title {
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 15px;
}
@media (min-width: 767px) {
  #wrapper .content#article-page .article-container h2.title {
    font-size: 60px;
    font-size: 4rem;
  }
}
#wrapper .content#article-page .article-container span.details {
  display: block;
  color: white;
  background-color: #c1103b;
  padding: 10px 0 10px 10px;
  font-weight: 700;
  width: 100%;
  margin: 0px;
  position: relative;
  left: -10px;
}
#wrapper .content#article-page .article-container span.details a {
  font-weight: 600;
  text-decoration: underline;
  color: #ffffff;
}
#wrapper .content#article-page .article-container .banner-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid #340410;
  border-left: 10px solid transparent;
  position: absolute;
  left: -10px;
}
#wrapper .content#article-page .article-container .article-body {
  padding: 15px 30px;
}
#wrapper .content#article-page .article-container .article-body .callout {
  border-left: 5px solid #d5d5d5;
  padding: 30px 15px;
}
#wrapper .content#article-page .article-container.codesod span.details,
#wrapper .content#article-page .article-container.code span.details {
  background-color: #c1103b;
}
#wrapper .content#article-page .article-container.codesod .banner-triangle,
#wrapper .content#article-page .article-container.code .banner-triangle {
  border-top-color: #340410;
}
#wrapper .content#article-page .article-container.errord span.details {
  background-color: #e4a838;
}
#wrapper .content#article-page .article-container.errord .banner-triangle {
  border-top-color: #735110;
}
#wrapper .content#article-page .article-container.featured span.details {
  background-color: #2db8c2;
}
#wrapper .content#article-page .article-container.featured .banner-triangle {
  border-top-color: #104246;
}
#wrapper .content#article-page .article-container.other span.details,
#wrapper .content#article-page .article-container.soapbox span.details {
  background-color: #95397a;
}
#wrapper .content#article-page .article-container.other .banner-triangle,
#wrapper .content#article-page .article-container.soapbox .banner-triangle {
  border-top-color: #260f1f;
}
#wrapper .content#article-page .article-container.tales span.details {
  background-color: #f9622f;
}
#wrapper .content#article-page .article-container.tales .banner-triangle {
  border-top-color: #8b2604;
}
#wrapper .content#article-page .article-container .article-footer {
  padding: 15px 30px;
  width: 96%;
  min-height: 35px;
  position: relative;
  clear: right;
}
#wrapper .content#article-page .article-container .article-footer hr {
  border: 1px solid #eeeeee;
  margin: 0;
}
@media (max-width: 767px) {
  #wrapper .content#article-page .article-container .article-footer hr {
    display: none;
  }
}
#wrapper .content#article-page .article-container .article-footer .comment-container {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 2px;
  right: -2px;
  width: 250px;
}
#wrapper .content#article-page .article-container .article-footer .comment-container a {
  color: #0088cc;
  background: #e0f5ff;
  padding: 7.5px;
  font-size: 120%;
}
#wrapper .content#article-page .article-container .article-footer .comment-container .comments {
  position: relative;
}
@media (max-width: 767px) {
  #wrapper .content#article-page .article-container .article-footer .comment-container {
    display: block;
    margin: 7.5px auto 15px auto;
    float: none;
  }
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar {
  width: 135px;
  position: relative;
  display: inline-block;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li {
  margin: 0px;
  margin-right: 5px;
  float: left;
  width: 30px;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li a {
  margin: 0 2.5px;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li a img.facebook {
  background-color: #0088cc;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li a img.email {
  background-color: #d04526;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li a img.googleplus {
  background-color: #c1103b;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li a img.twitter {
  background-color: #2db8c2;
}
#wrapper .content#article-page .article-container .article-footer .sm-link-bar li:last-child {
  margin-right: 0px;
}
@media (max-width: 767px) {
  #wrapper .content#article-page .article-container .article-footer .sm-link-bar {
    display: block;
    margin: 15px auto;
  }
}
#wrapper .content#article-page .article-container .article-footer .prev-next-nav {
  min-height: 25px;
  padding: 15px;
  text-align: center;
}
#wrapper .content#article-page .article-container .article-footer .prev-next-nav a span {
  font-weight: 700;
  font-size: 110%;
}
#wrapper .content#article-page .article-container .article-footer .prev-next-nav a.prev-link {
  float: left;
}
@media (max-width: 767px) {
  #wrapper .content#article-page .article-container .article-footer .prev-next-nav a.prev-link {
    display: block;
    margin: 15px auto;
    float: none;
    width: 250px;
  }
}
#wrapper .content#article-page .article-container .article-footer .prev-next-nav a.next-link {
  float: right;
}
@media (max-width: 767px) {
  #wrapper .content#article-page .article-container .article-footer .prev-next-nav a.next-link {
    display: block;
    margin: 15px auto;
    float: none;
    width: 250px;
  }
}
#wrapper .content#article-page .article-container #comment-form {
  border-top: solid 1px #eee;
  margin: 25px 0;
}
#wrapper .content#article-page .article-container #comment-form p {
  margin-bottom: 2px;
}
#wrapper .content#article-page .article-container #comment-form a#log-in-button {
  padding: 5px;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
  margin: 15px 0;
  display: inline-block;
}
#wrapper .content#article-page .article-container #comment-form input,
#wrapper .content#article-page .article-container #comment-form textarea {
  font-family: 'Open Sans';
  padding: 5px;
  margin: 15px 0;
  background: #eeeeee;
  border: 1px solid black;
}
#wrapper .content#article-page .article-container #comment-form input {
  width: 30%;
}
#wrapper .content#article-page .article-container #comment-form textarea {
  width: 100%;
}
#wrapper .content#listing h1.title {
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px 0;
  font-size: 42px;
  font-size: 2.625rem;
}
#wrapper .content#listing hr {
  border: 1px solid #808080;
}
@media (max-width: 767px) {
  #wrapper .content#listing h1.title {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
#wrapper .content#listing p.series-description {
  font-size: 1rem;
  margin-bottom: 13px;
  line-height: 1.625em;
}
#wrapper .content#listing div.series-nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
}
#wrapper .content#listing div.series-nav a {
  text-decoration: none;
}
#wrapper .content#listing div.series-nav .prev {
  float: left;
  font-weight: bold;
}
#wrapper .content#listing div.series-nav .prev img {
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}
#wrapper .content#listing div.series-nav .next {
  float: right;
  font-weight: bold;
  opacity: .25;
}
#wrapper .content#listing div.series-nav .next img {
  height: 15px;
  margin-left: 5px;
  display: inline-block;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
#wrapper .content#listing div.author-box {
  display: table;
  width: 95%;
  margin: 15px auto;
  padding: 10px;
  border-bottom: 0.1px solid #808080;
}
@media (max-width: 500px) {
  #wrapper .content#listing div.author-box {
    margin: 0;
    border-bottom: 0;
  }
}
#wrapper .content#listing div.author-box h1.title {
  border-bottom: 0.1px solid #808080;
}
#wrapper .content#listing div.author-box .author-image-container {
  width: 25%;
  display: table-cell;
  padding-right: 2%;
  vertical-align: middle;
}
@media (max-width: 500px) {
  #wrapper .content#listing div.author-box .author-image-container {
    display: none;
  }
}
#wrapper .content#listing div.author-box .author-image-container img {
  width: 100%;
  -webkit-clip-path: ellipse(48% 49% at 50% 50%);
  clip-path: ellipse(48% 49% at 50% 50%);
  border-radius: 50%;
}
#wrapper .content#listing div.author-box .author-details {
  display: table-cell;
  vertical-align: top;
}
#wrapper .content#listing div.author-box .credentials {
  font-size: 80%;
  color: #808080;
  font-style: italic;
}
#wrapper .content#listing #article-feed {
  width: 100%;
  margin: 0;
  left: 0;
  min-height: 100px;
}
#wrapper .content#listing #article-feed .article {
  width: 95%;
  margin: 0 auto 15px;
  position: relative;
}
@media (max-width: 767px) {
  #wrapper .content#listing #article-feed .article {
    left: 0;
    margin: 0 auto 15px;
  }
}
#wrapper .content#contact hr {
  border: 1px solid #ccc;
  clear: both;
  margin: 16px 0 18px;
  height: 0;
}
#wrapper .content#contact label {
  display: block;
  font-family: 'Open Sans';
  margin-bottom: 7.5px;
}
#wrapper .content#contact label.radio-label {
  display: inline;
  margin-right: 5px;
}
#wrapper .content#contact input,
#wrapper .content#contact select,
#wrapper .content#contact textarea {
  width: 100%;
  margin: 7.5px 0;
  position: relative;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  height: 36px;
  line-height: 34px;
  font-size: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#wrapper .content#contact input#submitform-name,
#wrapper .content#contact select#submitform-name,
#wrapper .content#contact textarea#submitform-name,
#wrapper .content#contact input#login-name,
#wrapper .content#contact select#login-name,
#wrapper .content#contact textarea#login-name,
#wrapper .content#contact input#login-password,
#wrapper .content#contact select#login-password,
#wrapper .content#contact textarea#login-password {
  width: 30%;
}
#wrapper .content#contact input.submit-button,
#wrapper .content#contact select.submit-button,
#wrapper .content#contact textarea.submit-button {
  background: #c1103b;
  border: none;
  width: 200px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  display: block;
  padding: 5px, 15px;
}
#wrapper .content#contact input.radio-dial,
#wrapper .content#contact select.radio-dial,
#wrapper .content#contact textarea.radio-dial {
  height: 15px;
  width: 15px;
  margin-bottom: 15px;
}
#wrapper .content#contact select {
  width: 50%;
}
#wrapper .content#contact textarea {
  height: auto;
}
#wrapper .content#contact h1.title {
  font-weight: 200;
}
#wrapper .content#contact .submit-code,
#wrapper .content#contact .submit-story,
#wrapper .content#contact .submit-errord {
  display: none;
}
#wrapper .content#contact #code:checked ~ .submit-code,
#wrapper .content#contact #story:checked ~ .submit-story,
#wrapper .content#contact #errord:checked ~ .submit-errord {
  display: block;
}
#wrapper .content#contact #alternate-login {
  margin-top: 15px;
  margin-bottom: 0;
}
#wrapper .content#sponsor-page {
  background: #ffffff;
}
#wrapper .content#sponsor-page h2.title {
  font-size: 400%;
  font-weight: 700;
  padding: 15px 30px;
}
#wrapper .content#sponsor-page span.details {
  display: block;
  color: white;
  background-color: #808080;
  padding: 10px 0 10px 10px;
  font-weight: 700;
  width: 100%;
  margin: 0px;
  position: relative;
  left: -10px;
}
#wrapper .content#sponsor-page span.details a {
  font-weight: 600;
  text-decoration: underline;
  color: #ffffff;
}
#wrapper .content#sponsor-page .banner-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid #343434;
  border-left: 10px solid transparent;
  position: absolute;
  left: -10px;
}
#wrapper .content#sponsor-page #sponsor-listing {
  margin: 50px auto;
}
#wrapper .content#sponsor-page #sponsor-listing .sponsor-container {
  display: inline-block;
  width: 47%;
  min-width: 290px;
  margin: 0 1% 0 0;
  vertical-align: top;
}
#wrapper .content#sponsor-page #sponsor-listing .sponsor-container .sponsor-logo-container {
  text-align: center;
}
#wrapper .content#sponsor-page #sponsor-listing .sponsor-container .sponsor-logo-container img {
  height: 75px;
  margin-bottom: 15px;
}
#wrapper .content#sponsor-page #sponsor-listing .sponsor-container .sponsor-bio {
  width: 80%;
  margin: 0 auto;
}
#wrapper .content#sponsor-page #sponsor-listing .sponsor-container:nth-child(2) {
  margin: 0 0 0 0;
}
#wrapper .content#sponsor-page .sponsor-footer {
  text-align: center;
  padding: 25px;
}
#wrapper .content#sponsor-page .sponsor-footer img {
  height: 15px;
  margin-right: 5px;
  display: inline;
}
@media print {
  .no-print {
    display: none;
  }
}
/* Comment section */
.comment-nav {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
@media print {
  .comment-nav {
    display: none;
  }
}
.comment {
  clear: right;
  border-top: 1px solid #eeeeee;
  padding: 15px 0;
}
.comment .poster {
  font-weight: bold;
}
.comment .timestamp {
  float: right;
  font-size: 12px;
}
.comment .timestamp button {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
  margin: 15px auto;
  display: block;
  cursor: pointer;
}
.comment blockquote {
  margin: 5px 0;
  padding: 5px;
  background-color: #EEE;
}
/* TODO: update when final CSS is ready */
.g-recaptcha {
  margin: 1em 0;
}
/*Left over classes still in use from first CSS revision, kept to keep archival articles current*/
.inset {
  float: right;
  margin: 8pt;
  width: 52%;
}
blockquote {
  line-height: 20px;
  color: #777;
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
  border-left: 5px solid #ccc;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
.article img {
  max-width: 100%;
}
.article-container img {
  max-width: 100%;
}
pre,
code {
  font-family: monospace;
}
pre {
  white-space: pre;
  word-wrap: break-word;
}
p {
  margin-bottom: 15px;
}
.hide {
  display: none;
}
button {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
  margin: 15px auto;
  display: block;
  cursor: pointer;
}

