@model ArticlesIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="listing">
    <h1 class="title">@Model.ListHeading</h1>
    <p>@Model.SeriesDescription</p>

    <div id="article-feed">
        @foreach (var article in Model.Articles)
        {
            @Html.Partial(Views.Shared.PartialArticleItem, article)
        }

        @if (!Model.Articles.Any())
        {
            <p>There are no articles to display.</p>
        }
    </div>
</div>
