@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="loginPage">
    <div class="twelve columns articleWrapper">
        <div class="content">
            <div class="row">
                <div class="container">
                    <form method="post">
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()

                        Log in with <a id="google-sign-in-button">Google</a>
                        <input type="hidden" name="google_code" id="google-sign-in-code" />
                        <script>
                            function googleSignIn() {
                                gapi.load("auth2", function () {
                                    var auth2 = gapi.auth2.init({
                                        client_id: "@Config.GoogleClientId"
                                    });
                                    $("#google-sign-in-button").click(function () {
                                        auth2.grantOfflineAccess({"redirect_uri": "postmessage"}).then(function (result) {
                                            if (result["code"]) {
                                                $("#google-sign-in-code").val(result["code"]);
                                                $("input[required]").removeAttr("required").val("");
                                                $("form").hide().submit();
                                            }
                                        });
                                    });
                                });
                            }
                        </script>
                        <script src="https://apis.google.com/js/client:platform.js?onload=googleSignIn" async defer></script>
                        <a href="https://github.com/login/oauth/authorize?client_id=@Config.GitHubClientId">GitHub</a>

                        <h2>Log in with your forum account</h2>

                        <div class="field">
                            <label for="login-name">Username or email address:</label>
                            <input id="login-name" name="username" type="text" class="input" placeholder="Username or email address" required tabindex="1" />
                        </div>

                        <div class="field">
                            <label for="login-password">Password:</label>
                            <input id="login-password" name="password" type="password" class="input" placeholder="Password" required tabindex="1" />
                        </div>

                        <div class="medium primary btn">
                            <input class="input" type="submit" tabindex="3" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
