@model WtfViewModelBase

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TheDailyWTF Admin</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="humans.txt" />

    <link rel="icon" href="/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/content/css/gumby.css" />
    <link rel="stylesheet" href="/content/css/animate.min.css" />
    <link rel="stylesheet" href="/content/css/screen.css" />
    <link rel="stylesheet" href="/content/css/prism.css" />
    <link rel="stylesheet" href="/content/css/jquery.qtip.min.css" />
    <link rel="stylesheet" href="/content/css/custom.css" />
    <link href="/content/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/content/css/jquery.timepicker.css" rel="stylesheet" />

    <script src="/scripts/modernizr-2.6.2.min.js"></script>
    <script src="/scripts/jquery-2.0.1.min.js"></script>
    <script src="/scripts/gumby.min.js"></script>
    <script src="/scripts/jquery.qtip-2.2.0.min.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/prism.js"></script>
    <script type="text/javascript" src="/scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="/scripts/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>

</head>
<body class="noise">

    <div id="wrapper">
        <div class="row">
            <a href="/admin" style="text-decoration: none;"><img style="vertical-align: text-bottom;" src="/content/images/thedailywtfLogoNav.png" class="logo" /> Administration </a>
            @if (User != null)
            {               
                <div class="twelve columns" style="text-align: right;">
                    Logged in as @User.DisplayName : <a href="/admin/logout">Logout</a>
                </div>
            }
        </div>
        <div class="row">
            <div class="twelve columns">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

   @if (Model != null && Model.DiscourseMessage != null)
   {
      <div class="message error">
         @Model.DiscourseMessage
      </div>
   }
</body>
</html>

