@model Ad

<!--div class="sidebar-section ad">
    <a href="@AdRotator.GetRedirectUrlFromOriginalUrl(Model.OriginalUrl)">
        <img class="sidebar-ad" src="@Model.ImageUrl" />
    </a>
</div-->
