@model Ad

<div id="billboard" class="hideNonDesktop">
   <div class="row">
      <div class="container da-space">
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

         <!-- TDWTF-Leaderboard -->

         <ins class="adsbygoogle"
              style="display:inline-block;width:728px;height:90px"
              data-ad-client="ca-pub-8306764823130417"
              data-ad-slot="2629807289"></ins>

         <script>

            (adsbygoogle = window.adsbygoogle || []).push({});

         </script>
      </div>
   </div>
</div>