<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="g-recaptcha field" data-sitekey="@Config.RecaptchaPublicKey"></div>
<noscript><div class="error message">JavaScript is required to see the CAPTCHA.</div></noscript>
