@model Ad

<div id="billboard" class="hideNonDesktop">
   <div class="row">
      <div class="container da-space">
         <div class="daBlock da-970x250">
            <a href="@Model.Company.Url">
               <img src="@Model.ImageUrl" />
            </a>
         </div>
      </div>
   </div>
</div>