@model Ad

<div class="container da-space hideNonDesktop">
   <div class="daBlock da-300x250">
      <a href="@Model.Company.Url">
         <img src="@Model.ImageUrl" />
      </a>
   </div>
</div>