@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="article-page">
    <div class="article-container">
        <h2 class="title">The I-Hate-Oracle Club GIFs</h2>
        <div class="article-body">
            <p>Please link back to the I-Hate-Oracle Club: <br> <a href="https://what.thedailywtf.com/category/11/the-i-hate-oracle-club">https://what.thedailywtf.com/category/11/the-i-hate-oracle-club</a></p>

            <p><img src="/Content/Images/IHOC/Obstacle_hlf_2x.gif" width="200" height="80"></p>
            <p><img src="/Content/Images/IHOC/Orable_BetterThanOrable.gif" width="200" height="80"></p>
            <p><img src="/Content/Images/IHOC/Obsolete_punchcards.gif" width="200" height="80"></p>
            <p><img src="/Content/Images/IHOC/Orable_Ggggreat.gif" width="200" height="80"></p>
            <p>&nbsp;</p>
            <p>Rotator URL of the 200x80's (above): <br><a href="http://thedailywtf.com/images/ihoc/random200x80.aspx">http://thedailywtf.com/images/ihoc/random200x80.aspx</a></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obsolete_L_R.gif" width="385" height="65"></p>
            <p>&nbsp;</p>
            <p>
                <img src="/Content/Images/IHOC/Obsolete_L_W.gif" width="385" height="65">
            </p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obsolete_S_R.gif" width="135" height="25"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obsolete_S_W.gif" width="135" height="25"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obstacle_L_R.gif" width="386" height="65"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obstacle_L_W.gif" width="386" height="65"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obstacle_S_R.gif" width="135" height="25"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Obstacle_S_W.gif" width="135" height="25"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Orable_L_R.gif" width="385" height="65"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Orable_L_W.gif" width="385" height="65"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Orable_S_R.gif" width="135" height="25"></p>
            <p>&nbsp;</p>
            <p><img src="/Content/Images/IHOC/Orable_S_W.gif" width="135" height="25"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
