@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="four columns">
    <aside class="sideMenu">
        <div class="btn">
            <a class="clean" href="/contact">
                <h4>Submit <i class="icon-publish"></i>your WTF</h4>
            </a>
        </div>

        <h5 class="heading"><i class="icon-clock"></i>Recent WTF's</h5>
        @Html.Partial(Views.Shared.PartialRecentArticleList, Model.RecentWtfsSideBar)

    </aside>

    <aside class="sideMenu hideMobile" style="background-color: #222222;">
        <img src="/content/images/freeswag2.png">
    </aside>

    <div class="container da-space hideNonDesktop">
        <h6>Advertisement</h6>
        <hr />
        <div class="daBlock da-300x250">
            <img src="/content/images/banner300.gif">
        </div>

        <div class="container da-space hideNonDesktop">
            <h6>Advertisement</h6>
            <hr />
            <div class="daBlock da-300x600">
                <img src="/content/images/banner300x600.jpg">
            </div>
        </div>
    </div>
</div>

<div class="eight columns">
    @foreach (var article in Model.Articles)
    {
        @Html.Partial(Views.Shared.PartialArticleItem, article)
    }
</div>