@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="four columns">

   <aside>
      <h5 class="heading"><a class="clean" href="#"><i class="icon-info-circled"></i>WTF is The Daily WTF?</a></h5>
      <div class="about">
         <p>
            Founded in 2004 by <a href="/authors/alex-papadimoulis">Alex Papadimoulis</a>, The Daily WTF is your how-not-to guide for developing
            software. We recount tales of disastrous development, from project management gone spectacularly bad to inexplicable coding choices.
         </p>
         <p>
            <a href="/authors/mark-bowytz">Mark Bowytz</a> is the editor-in-chief and would absolutely love to read your story or see your bad code.
         </p>
         <p style="text-align:center; font-size: 16px;">
            <a href="/submit-wtf">Submit Your WTF</a>
         </p>
      </div>
   </aside>

   <aside>
      <h5 class="heading"><a href="#" class="clean"><i class="icon-docs"></i>Contents</a></h5>
      <div class="side-bar-list hideNonDesktop">
         <ul>
            <li><div><a href="/articles/random">Random Article</a></div></li>
            <li>
               <div>
                  <strong>Classic Articles</strong>
                  <ul>
                     <li><a href="/articles/The_Brillant_Paula_Bean">The Brillant Paula Bean</a></li>
                     <li><a href="/articles/get_words_from_a_number_which_is_passed_as_a_perimeter_into_this_function">get_words_from_a_number_which_is_passed_as_a_perimeter_into_this_function</a></li>
                     <li><a target="_blank" href="https://github.com/tdwtf/WtfWebApp/blob/master/TheDailyWtf/Views/Home/Index.cshtml#L34">Add your own...</a></li>
                  </ul>
               </div>
            </li>
            <li><div><a href="/articles">Article Archives</a></div></li>
         </ul>
      </div>
   </aside>

    @Html.Partial(Views.Shared.PartialSidebarAd, Model.GetNextAd(Dimensions.SideBar))

   <aside>
      <h5 class="heading"><a class="clean" href="#"><i class="icon-list"></i>Sidebar WTF</a></h5>
      <div class="articleList hideNonDesktop">
         <ul>
            @foreach (var sidebar in Model.GetSideBarWtfs())
            {
               <li class="code">
                  <div><a class="clean" href="@sidebar.Url">@sidebar.Title</a></div>
               </li>
            }
         </ul>
      </div>
   </aside>

</div>

<div class="eight columns">
    @foreach (var article in Model.Articles)
    {
        @Html.Partial(Views.Shared.PartialArticleItem, article)
    }
</div>

<div style="float: right;">
    <a href="/articles">View Article Archives &raquo;</a>
</div>
