@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="four columns">

   <aside>
      <h5 class="heading"><i class="icon-info-circled"></i>WTF is The Daily WTF?</h5>
      <div class="about">
         <p>
            Founded in 2004 by <a href="/authors/alex-papadimoulis">Alex Papadimoulis</a>, The Daily WTF is your how-not-to guide for developing
            software. We recount tales of disastrous development, from project management gone spectacularly bad to inexplicable coding choices.
         </p>
         <p>
            <a href="/authors/mark-bowytz">Mark Bowytz</a> is the editor-in-chief and would absolutely love to read your story or see your bad code.
         </p>
         <p style="text-align:center; font-size: 16px;">
            <a href="/submit-wtf">Submit Your WTF</a>
         </p>
      </div>
   </aside>

   <aside>
      <h5 class="heading"><i class="icon-docs"></i>Contents</h5>
      <div class="side-bar-list">
         <ul>
            <li><div><a href="/articles/random">Random Article</a></div></li>
            <li>
               <div>
                  <strong>Classic Articles</strong>
                  <ul>
                     <li><a href="/articles/The_Brillant_Paula_Bean">The Brillant Paula Bean</a></li>
                     @if (this.User != null && this.User.IsAdmin)
                     {
                        <li><a href="https://github.com/tdwtf/WtfWebApp/blob/master/TheDailyWtf/Views/Home/Index.cshtml#L41">Add more...</a></li>
                     }
                  </ul>
               </div>
            </li>
            <li><div><a href="/articles">Article Archives</a></div></li>
         </ul>
      </div>
   </aside>

    @Html.Partial(Views.Shared.PartialSidebarAd, Model.GetNextAd(Dimensions.SideBar))

   <aside>
      <h5 class="heading"><i class="icon-list"></i>Sidebar WTF</h5>
      <div class="articleList">
         <ul>
            @foreach (var sidebar in Model.GetSideBarWtfs())
            {
               <li class="code">
                  <div><a class="clean" href="@sidebar.Url">@sidebar.Title</a></div>
               </li>
            }
         </ul>
      </div>
   </aside>

   <aside>
      <h5 class="heading"><i class="icon-network"></i>Sponsors</h5>
      <div class="side-bar-list">
         <ul>
            <li class="no-pad">
               <div class="about">
                  <p>
                     These fine folks make it possible to run The Daily WTF.
                  </p>
               </div>
            </li>
            <li>
               <div>
                  <a href="#" target="_blank">
                     <img src="/content/images/banner300x75.png" />
                  </a>
               </div>
            </li>
            <li>
               <div>
                  <a href="#" target="_blank">
                     <img src="/content/images/banner300x75.png" />
                  </a>
               </div>
            </li>
            <li>
               <div>
                  <a href="#" target="_blank">
                     <img src="/content/images/banner300x75.png" />
                  </a>
               </div>
            </li>
            <li>
               <div>
                  <a href="/sponsors" target="_blank">View All Sponsors</a>
               </div>
            </li>
         </ul>
      </div>
   </aside>



</div>

<div class="eight columns">
    @foreach (var article in Model.Articles)
    {
        @Html.Partial(Views.Shared.PartialArticleItem, article)
    }
</div>

<div style="float: right;">
    <a href="/articles">View Article Archives &raquo;</a>
</div>
