@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="sponsor-page">
    <h2 class="title">Sponsors</h2>
    <span class="details">
        Please support The Daily WTF by visiting our sponsors!
    </span>
    <div class="banner-triangle"></div>

    <div id="sponsor-listing">

        <div class="sponsor-container">

            <div class="sponsor-logo-container">
                <a target="_blank" href="https://inedo.com/?utm_source=TheDailyWTF&utm_medium=link&utm_campaign=TDWTF15&utm_content=sponsor-page">
                    <img src="/Content/Images/Sponsors/inedo.png" />
                </a>
            </div>
            <div class="sponsor-bio">
                <p>
                    It doesn't matter how elegant your architecture is, how beautifully written your code is, or how many unit
                    tests you have if you can't reliably and repeatedly deploy changes to your applications.
                </p>
                <p>
                    Our products play an important role in this delivery process and help all kinds of code -- good, bad, old,
                    and new -- go safely on to production. And should bugs find their way in your code, we want to make sure
                    you can test and deploy fixes as fast as you can write them.
                </p>

            </div>
        </div>
        <div class="sponsor-container">

            <div class="sponsor-logo-container">
                <a target="_blank" href="https://raygun.com/?utm_source=tdwtf">
                    <img src="~/Content/Images/Sponsors/raygun.png" />
                </a>
            </div>
            <div class="sponsor-bio">
                <p>
                    <a target="_blank" href="https://raygun.com/blog/software-errors-and-crashes/?utm_source=tdwtf">99% of users don’t report problems in software.</a> Adding logging can only help so much- eventually you have a giant haystack filled with needles you don’t even know are there. You have no way to see what your users are experiencing out in the wild. <a target="_blank" href="https://raygun.com/?utm_source=tdwtf">Raygun</a> gives you a window into the real user-experience for your software. With a few minutes of setup, all the errors, crashes, and performance issues will be identified for you, all in one tool.
                </p>
            </div>

        </div>

    </div>

    <hr />
    <div class="sponsor-footer">
        <h5><img src="/Content/Images/sound.svg" />Interesting in sponsoring?</h5>
        <p>
            There are no sponsorship slots available, but one may open up in the future; please <a href="/contact?Tim+Sylvia">contact Tim Sylvia</a> for more information.
        </p>
    </div>

</div>
