@model HomeIndexViewModel
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row general" id="articlePage">

   <div class="twelve columns articleWrapper">
      <div class="content">
         <div class="row">
            <div class="container">

               <h1>Our Sponsors</h1>

               <span class="articleMeta">
                  Please support The Daily WTF by visiting our sponsors!
               </span>

               <div class="sponsor-container">

                  <div>
                     <a target="_blank" href="http://inedo.com">
                        <img src="/Content/Images/Sponsors/inedo.png" />
                     </a>
                     <p>
                        It doesn't matter how elegant your architecture is, how beautifully written your code is, or how many unit 
                        tests you have if you can't reliably and repeatedly deploy changes to your applications.
                     </p>
                     <p>
                        Our products play an important role in this delivery process and help all kinds of code -- good, bad, old, 
                        and new -- go safely on to production. And should bugs find their way in your code, we want to make sure 
                        you can test and deploy fixes as fast as you can write them.
                     </p>
                  </div>
                  
                  <div>
                     <a target="_blank" href="http://inedo.com">
                        <img src="/Content/Images/Sponsors/inedo.png" />
                     </a>
                     <p>
                        It doesn't matter how elegant your architecture is, how beautifully written your code is, or how many unit
                        tests you have if you can't reliably and repeatedly deploy changes to your applications.
                     </p>
                     <p>
                        Our products play an important role in this delivery process and help all kinds of code -- good, bad, old,
                        and new -- go safely on to production. And should bugs find their way in your code, we want to make sure
                        you can test and deploy fixes as fast as you can write them.
                     </p>
                  </div>
                  
                  <div>
                     <a target="_blank" href="http://inedo.com">
                        <img src="/Content/Images/Sponsors/inedo.png" />
                     </a>
                     <p>
                        It doesn't matter how elegant your architecture is, how beautifully written your code is, or how many unit
                        tests you have if you can't reliably and repeatedly deploy changes to your applications.
                     </p>
                     <p>
                        Our products play an important role in this delivery process and help all kinds of code -- good, bad, old,
                        and new -- go safely on to production. And should bugs find their way in your code, we want to make sure
                        you can test and deploy fixes as fast as you can write them.
                     </p>
                  </div>
                  
                  <div>
                     <a target="_blank" href="http://inedo.com">
                        <img src="~/Content/Images/banner300x75.png" />
                     </a>
                     <p>
                        It doesn't matter how elegant your architecture is, how beautifully written your code is, or how many unit
                        tests you have if you can't reliably and repeatedly deploy changes to your applications.
                     </p>
                     <p>
                        Our products play an important role in this delivery process and help all kinds of code -- good, bad, old,
                        and new -- go safely on to production. And should bugs find their way in your code, we want to make sure
                        you can test and deploy fixes as fast as you can write them.
                     </p>
                  </div>

               </div>

            </div>
         </div>
      </div>
   </div>
</div>

