@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="sponsor-page">
    <h2 class="title">Sponsors</h2>
    <span class="details">
        Please support The Daily WTF by visiting our sponsors!
    </span>
    <div class="banner-triangle"></div>

    <div id="sponsor-listing">

        <div class="sponsor-container">

            <div class="sponsor-logo-container">
                <a target="_blank" href="http://puppetlabs.com/?ls=ad&ccn=tdwtf-sponsorship&cid=701G0000000F68y">
                    <img src="/Content/Images/Sponsors/puppetlabs.png" />
                </a>
            </div>
            <div class="sponsor-bio">
                <p>
                    Puppet is all about automating the configuration and management of servers and the software running on them, whether
                    on physical or virtual machines, on-prem or in the cloud. They've also expanded to integrating with network devices,
                    and that's going to continue through their relationships with many data center hardware vendors.  It's all about
                    infrastructure as code, and so Puppet is used by everyone from startups to Google.
                </p>
            </div>

        </div>
        <div class="sponsor-container">

            <div class="sponsor-logo-container">
                <a target="_blank" href="http://inedo.com/?utm_source=TheDailyWTF&utm_medium=link&utm_campaign=TDWTF15&utm_content=sponsor-page">
                    <img src="/Content/Images/Sponsors/inedo.png" />
                </a>
            </div>
            <div class="sponsor-bio">
                <p>
                    It doesn't matter how elegant your architecture is, how beautifully written your code is, or how many unit
                    tests you have if you can't reliably and repeatedly deploy changes to your applications.
                </p>
                <p>
                    Our products play an important role in this delivery process and help all kinds of code -- good, bad, old,
                    and new -- go safely on to production. And should bugs find their way in your code, we want to make sure
                    you can test and deploy fixes as fast as you can write them.
                </p>

            </div>
        </div>
        <div class="sponsor-container">

            <div class="sponsor-logo-container">
                <a target="_blank" href="http://www.atalasoft.com/Home?utm_source=dailywtf&utm_medium=sponsor-page&utm_campaign=dailywtf%20ads">
                    <img src="/Content/Images/Sponsors/atlasoft.png" />
                </a>
            </div>
            <div class="sponsor-bio">
                <p>
                    Since 2002, Atalasoft from Lexmark has provided imaging libraries to help software developers build document scanning, viewing, and processing into their applications. We help by reducing development time and eliminating expenses by offering fixed-price, royalty-free licensing for many of our products.
                </p>
            </div>

        </div>

    </div>
    @*<div class="sponsor-container">

           <div>
              <div class="sponsor-logo-container">
                 <a target="_blank" href="https://www.scoutapp.com/?utm_source=TDWTF&utm_medium=sponsor&utm_campaign=TDWTF">
                    <img src="/Content/Images/Sponsors/scout_high_res.svg" />
                 </a>
              </div>
              <p>
                 Scout is the opposite server and application monitoring tool you're used to: a clean, reliable, hosted solution to monitor your Linux servers and apps.  It's currently monitoring tens of thousands of servers for big names like AirBnB, The New York Times, and 10gen along with many soon-to-be big organizations. Large or small, Scout customers are united by the belief that monitoring doesn't have to be painful.
              </p>
           </div>

           <div>
              <div class="sponsor-logo-container">
                 <a target="_blank" href="http://www.infragistics.com/?utm_source=dailywtf&utm_medium=sponsor&utm_campaign=ultimate">
                    <img src="/Content/Images/Sponsors/infragistics.jpg" />
                 </a>
              </div>
              <p>
                A worldwide leader in user experience, Infragistics helps developers build amazing applications. More than a million developers trust Infragistics for enterprise-ready user interface toolsets that deliver high-performance applications for Web, Windows and mobile applications. The company also provides design tools for rapid, interactive prototyping.
              </p>
           </div>

        </div>*@

    <hr />
    <div class="sponsor-footer">
        <h5><img src="/Content/Images/sound.svg" />Interesting in sponsoring?</h5>
        <p>
            There are no sponsorship slots available, but one may open up in the future; please <a href="/contact?Tim+Sylvia">contact Tim Sylvia</a> for more information.
        </p>
    </div>

</div>
