@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Submission Guidelines</h1>
<p>The stories we tell on <em>The Daily WTF</em> (i.e. the <a href="/series/feature-articles">Feature Articles</a>) are “dramatized retellings” of actual events. It’s a bit like those “based on a true story” movies you’ve seen: we take the core facts surrounding the WTF moments (the who, what, where, when) and try to create an entertaining, engaging, and memorable story. It’s a fun and challenging excise for us as writers and it’s what most readers come to the site for. </p>
<p>If you’ve had a WTF moment that you want to share, then by all means, share it! Don’t worry about the storytelling parts – just share the facts as best as you remembered them, in any format or style you’d like (bullet points are just fine). We’re going to be looking for what happened (pre-events, events themselves, the consequences), who was involved (you, manager, team, entire eastern seaboard), and where and when this all occurred.</p>
<h2>Length</h2>
<p>It doesn’t need to be too long (2 to 5 paragraphs is plenty), although feel free to go longer if you want. Some folks have submitted 10,000 word diatribes – but please try to avoid that. We do read each and every submission that comes our way, but keep in mind our target length is 750 to 1,000 words. Some stories are longer, or turn into a series, but that’s pretty rare.</p>
<h2>Redaction & Anonymity</h2>
<p>Unless it’s hyper-sensitive information, please don’t anonymize or redact things in your story submission. For example, writing something like “Developer A walked up to Developer B, and told him Developer C did it” is harder for us to follow and harder for you to share. Just use their names. </p>
<p>If we need to use a company, system, or person’s name, then we’ll make one up -- regardless of whether you included it in your submission or not. It doesn’t matter to the story if your overbearing boss was actually named Chris Stewart. We may simply call him The Bossman, or Charles, or whatever we feel like that day.<p>
<p>When you make up a name in your submission, there’s always the chance that our name will the very name you didn’t want us to use in the first place. It’s happened before. </p>
<h2>Follow-ups</h2>
<p>Please use your real email address. We’ll sometimes ask follow-up questions if something’s unclear, or try to get more information to better understand the scenario. </p>
<p>Feel free to follow-up with us (just use the contact form) if you’re curious about a submission status. Sometimes we publish with a few weeks, although there have been a few that took years to get published.</p>
<h2>TDWTF - Behind the Scenes</h2>
<p>Many stories end up looking drastically different than the original submission. To give you an idea of how a great submission turned into one of our favorite stories, take a quick reread of <a href="http://thedailywtf.com/articles/ITAPPMONROBOT" target="_blank">ITAPPMONROBOT</a>.</p>
<p>Done? Great. Now, here’s the original submission:</p>
<blockquote>
<p>Subject: Linux solution to Windows problems</p>
<p>I know what you think - yet another Linux vs. Windows story. But this story shows, both systems can co-exist in some form of symbiosis.</p>
<p>At the beginning of 21-st century, namely 2001, a friend of mine asked me for an advice. He has just started to work as a system administrator at some middle-sized bank. They have had a lot of *NIX servers that were working just fine. But there was also one Windows NT-based server there with a *very* special application which was absolutely crucial for bank's business processes. The very special "feature" of this application was that it crashed quite often and took the whole server to the realm of BSODs with every crash. The old sysadmin was working in the server room and has had no problem resetting the server manually if needed. My friend, however, preferred remote administration from his sunny office (yea, i know, how weird it sounds - a system administrator who likes sunny places :-) ) so walking down to server room in order to restart a server was hardly an option for him.</p>
<p>Fixing a program was not possible - no source code was available and the complete rewrite would take time which my friend didn't have.</p>
<p>After a weirdest brainstorming i have ever participated at, we finally found a solution - he has built together a crappy PC with linux 2.4 on board and connected it to the server via a crossover cable.</p>
<p>The sole task of this PC was to ping the alleged server and if it wasn't responding - eject /dev/hdc.</p>
<p>The cd-rom drive opened itself and pressed the server's Reset button. </p>
<p>The program was eventually rewritten, servers were upgraded and the Win-NT server thrown away, but little linux PC stayed there and was pinging different servers, working without having a second of downtime till it died of age early 2006. By the time, all servers were working just fine, so no one actually needed a replacement for it.</p>
</blockquote>
<p>The Core WTF in both the submission and the story is the same: an engineer hacked together a server that would reset another server by ejecting the CD drive to hit a reset button. In both cases, hilarious, awesome, and a beautiful WTF in and of itself. Tthe details that we removed (Linux vs Windows, etc) and the details we added (Laura, ITAPPMONROBOT) don’t change the core events; but in our humble opinion, our story is a more engaging and entertaining way to share this wonderful WTF.</p>
<p>If you’re interested to learn more about storytelling, or are interested in actually writing a story, then don’t hesitate to <a href="/contact">contact us</a>.</p>
<p>Otherwise, please send us your submissions – we’d love to turn them into stories!</p>
